<IfModule mod_rewrite.c>
     RewriteEngine On   
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|images|robots\.txt|assets|js|uploads)  
RewriteRule ^(.*)$ index.php/$1 [L] 

php_value memory_limit 1024M
php_value post_max_size 100M
php_value upload_max_filesize 30M

</IfModule>

<IfModule !mod_rewrite.c>
  # If we don't have mod_rewrite installed, all 404's
  # can be sent to index.php, and everything works as normal.
  # Submitted by: ElliotHaughin

  ErrorDocument 404 /index.php
</IfModule>